body{
  margin: 0px;
  padding: 0px;
  background:  url("https://www.continentalstock.com/wp-content/themes/ContinentalStockTransfer/img/homepage-background.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

@media (min-width: 0px) and (max-width: 768px) {
  body {
    background:  url("https://www.continentalstock.com/wp-content/themes/ContinentalStockTransfer/img/homepage-background.gif") no-repeat center center fixed;
    /* background: url('images/o3.png') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }
}


body{
   font-family:montserrat;
}
input{
  text-align: center;
   font-weight: bold;
   border-radius: 20px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-family: : montserrat
   font-size: 14px;
}
th{
  font: montserrat;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnTheme{
background-color: #005082;
color: white;
border: none;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
font-family: montserrat;
text-align: center;
text-decoration: none;
font-size: 12px;
border-radius: 30px;
}


.header_style{
  background-color: #fff;
  color: #00B0FF;
  padding: 10px;
  text-align: center;
  font-family: montserrat;
  width: auto;
}

.btnTheme:hover{
  background-color: #00bcd4;
}

#tb_peserta{
  border-collapse: collapse;
  border-spacing: 1;
  border-style:solid;
 background-color:white;
 border-radius:10px;
 overflow:hidden;
 border-color: black;
 /* position:relative; */
}

#tb_peserta th{
  padding: 10px;
  background-color: #00B0FF;
  color:white;
  height: auto;
  font: montserrat;
}
#tb_peserta tr{
  /* border-bottom:1px solid #ddd; */
}

#tb_peserta td{
  max-height: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border-color: #000;
}
#tb_peserta tr:hover{
  background-color: #ddd;
  /* max-height: 10px; */
}

.title_info_jadwal{
  width: 50%;
}


.info_jadwal{
  float:none;
  margin:15px;
  border-style:solid;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  font-family: montserrat;
}

.containerBtn{
  float:none;
  margin:15px;
  text-align: center;
  border-style:solid;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  font-family: montserrat;
}

.title_info_jadwal{
  font: comic;
}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
