@import "compass/css3";
body {
  margin-top:10px;
  padding: 0px;
  background:  url("https://i.pinimg.com/originals/43/3a/81/433a815b8313453ee2edae5f7c91de73.jpg") no-repeat center center fixed;
  font-family: Montserrat;
  background-size: cover;
  background-position: center;
}

input{
  text-align: left;
  padding: 10px;
   font-weight: bold;
   height: 35px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}


input.submit{
  background-color: #000;
  color: #fff;
  font-family: montserrat thin;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}



.submit:hover{
  background-color: #fff;
  color: #000;
    border:1px solid red;
  border-color: #000;
  font-family: montserrat thin;
  font-size: 12pt;
  border-radius: 20px;
}

label{
  margin-bottom: 20px;
}
.roundContainerWrapper{
  margin: auto;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: montserrat thin;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  max-width: 400px;
  box-shadow: 0 0 1em #222;

}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  height: 3em;
  line-height: 4;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
#select_gender select{
  -webkit-appearance: menulist-button;
  height: 50px;
}
form {
  font-family: montserrat;
  background: #fff;
  padding: 20px;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 20px;
  text-align: center;
}
input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin:0;
}
h2.sign_up {
  margin:0 0 20px 0;
  padding:10px;
  text-align:center;
  font-size:30px;
  border-bottom:solid 1px #000;
  }
